body {
  font-family: sans-serif;
  background: #000000;
}

.heading {
  color: #f3c408;
  text-align: center;
}

.list {
  list-style: none;
}

.link {
  background: inherit;
  color: #ffffff;
  font-size: 2em;
  cursor: pointer;
}

.flex {
  display: flex;
}
